{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.[jt]s", "**/*.config.[jt]s"] }
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
